<div class="container">
	<%= render 'shared/masthead' %>

	<h2 class="page-header">Stories</h2>

	<div class="row-fluid">
		<% Author.all.each do |a| %>
		<legend>
			<h3>
				<%= diary_name a %>
			</h3>
			<span class="span6">
				<p>
					<%= lead_excerpt_snippet a %>
				 	</p>
				<%= link_to 'read more', '#', :class => 'btn ' %>
			</span>
			<%= image_tag "#", :class => 'offset2 span3'  %>
		</legend>
		<% end %>
	</div>
</div>