<div class="container">
	<%= render 'shared/masthead' %>

	<div class="jumbotron">
		<h1>Jolly Rogers</h1>
		<p class="lead">
			<em>“The Best Damn Heavy Bomb Group in the World”</em>
		</p>
		<%= link_to 'Find out why', main_stories_path, :class => 'btn btn-large btn-success' %>
	</div>

	<hr />
	<div class="row-fluid">
		<div class="span3">
			<p><%= image_tag '/assets/319.png' %></p>
			<h2>319th</h2>
			<p>Activated in spring 1942 as a B-26 Marauder medium bomber squadron. Trained under Third Air Force in southeastern United States. Reassigned to Michigan where squadron received Very Long Range (VLR) B-24D Liberator heavy bombers manufactured by Ford specifically for extended length missions over the Pacific.</p>
			<p><a href="#" class="btn">View More >></a></p>
		</div>
		<div class="span3">
			<p><%= image_tag '/assets/320.png' %></p>
			<h2>320th</h2>
			<p>Activated in spring 1942 as a B-26 Marauder medium bomber squadron. Trained under Third Air Force in southeastern United States. Reassigned to Michigan where squadron received Very Long Range (VLR) B-24D Liberator heavy bombers manufactured by Ford specifically for extended length missions over the Pacific.</p>
			<p><a href="#" class="btn">View More >></a></p>
		</div>
		<div class="span3">
			<p><%= image_tag '/assets/321.png' %></p>
			<h2>321st</h2>
			<p>Activated in spring 1942 as a B-26 Marauder medium bomber squadron. Trained under Third Air Force in southeastern United States. Reassigned to Michigan where squadron received Very Long Range (VLR) B-24D Liberator heavy bombers manufactured by Ford specifically for extended length missions over the Pacific.</p>
			<p><a href="#" class="btn">View More >></a></p>
		</div>
		<div class="span3">
			<p><%= image_tag '/assets/400.png' %></p>
			<h2>400th</h2>
			<p>The 400th was activated in spring 1942 as a B-26 Marauder medium bomber squadron, training under the Third Air Force in the southeastern United States. They were reassigned to Michigan, receiving Very Long Range (VLR) B-24D Liberator heavy bombers manufactured by Ford for extended length missions over the Pacific.</p>
			<p><a href="#" class="btn">View More >></a></p>
		</div>
	</div>

	<hr>

	<div class="footer">
		<p>© Eric Tuchscherer 2013</p>
	</div>
</div>