<div class="masthead">
	<h3 class="muted">90th Bombardment Group (H)</h3>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="<%= is_li_active? 'welcome' %>">
						<%= link_to "Home", main_welcome_path %>
					</li>
					<li class="<%= is_li_active? 'history' %>">
						<%= link_to 'History', main_history_path %>
					</li>
					<li class="<%= is_li_active? 'stories' %>">
						<%= link_to 'Stories', main_stories_path %>
					</li>
					<li>
						<a href="#">Soldiers</a>
					</li>
					<li class="<%= is_li_active? 'about' %>">
						<%= link_to 'About', main_about_path %>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /.navbar -->
</div>